*{
  margin-left: 0;
  margin-right: 0;
}
.continer{
    max-width: 1600px;
    margin: auto;
}

.nav-parent{
      display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-item{
  display: flex;
  gap: 20px;
  list-style: none;
  
}
.nav-item a{
    text-decoration: none;
    color: black;
}
.button-parent{
  display: inline-flex;
  justify-content: center;
  gap: 15px;
  white-space: nowrap;
  margin-top: 40px;
}
.button-primary {
    background-color: #30B868;
    display: inline-flex;
    text-align: center;
    border-radius: 4px;
    color: white;
    padding: 12px 16px;
    border: none;
    gap: 10px;
    
}
.button-primary:hover{
  background-color: #16a34a;
  transition: 0.3s ease;
}

.primary-icon{
padding-top: px;
}

/* top-section */

.top-section{
   background-image: url(./assets/hero-bg.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
 display: flex;
 flex-direction: column;
   align-items: center;
   justify-content: center;
     padding: 80px;
     margin-top: 20px;
   
}


 .hero-container{
 padding:0px 150px;
  text-align: center;
     }

  .hero-container h1{
      font-size: 72px;
}
.hero-container p{
    padding: 0px;
}
.badge-1{
    color: #30B868;
    background-color: white;
    border-radius: 30px;
     display: inline-flex;
  text-align: center;
  gap: 5px;
  padding: 4px;
}
.icon-1{
  display: block;
 width: 10px;
 height: 10px;
 color: #16a34a;
 padding: 4px ;
}

 .color-green{
   
  color: #30B868;

 }
.color-white{
   color:white;

}
.btn-secondray{
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  padding: 6px 17px;
  background: transparent;
  color: white;
  border: solid 1px white;
}

.btn-icon{
   border-radius: 4px;
   padding: 8px;
    border: none;
  width: 10px;
  height: 10px;
  }



/* card-section */

.card-section{
margin-top: 80px;

}
.card-header{
text-align: center;

}
.card-header h1{
    font-size: 48px;

}
.card-parent{
    display: flex;
    flex-direction: row;
  text-align: center;
    gap: 10px;
    margin: 0 32px;


}
.card-parent img{
    background-color: red;
    border-radius: 50px;
    padding: 10px
}

  .card-child-1{
    margin: 6px;
    
    background-color: #FFFFFF;
    border: solid 3px #f2f1f1;
    border-radius: 5px;
    padding: 30px;
  }
  .card-child-2{
    background-color: #FFFFFF;
    border: solid 3px #f2f1f1;
      border-radius: 10px;
    margin: 6px;
    padding: 30px;
  }
.card-child-3{
    margin: 6px;
    background-color: #FFFFFF;
     border: solid 3px #f2f1f1;
    padding: 30px;
  }
.card-child-4{
    margin: 6px;
    background-color: #FFFFFF;
     border: solid 3px #f2f1f1;
    padding: 30px;
  }
/* idea-section */

.idea-parent{
    display: flex;
    margin-top: 80px;
}
.idea-main-img{
  width: 500px;
  height: 400px;
}
.idea-child-1{

  padding:100px 120px;
}
.idea-child-2 img{
  display: flex;
 width: 20px;
  height: 20px;
  padding-top: 14px;

}

.click-img-1 {
  display: flex;
gap: 5px;
}

.click-img-2 {
  display: flex;
gap: 5px;
}

.click-img-3 {
  display: flex;
gap: 5px;
}

.click-img-4 {
  display: flex;
gap: 5px;
}

 /* challage-section */

.challage-section{
  margin: 100px auto;
    text-align: center;
    
}
.challage-parent{
 background-color:#F7F6F2;
 padding: 50px 260px;
}

 

/* footer */
.footer-section{
   background-color: #001931;
   padding:20px ;

}

.footer-parent{
    display: flex;
    margin: 90px 90px 0px;
   padding: 10px 10px 40px 10px;
    justify-content: space-between;
    gap: 700px;
    color: white;
    
   
}
.footer-img img{
  height: 15px;
  width: 15px;
  background-color: white;
  padding: 2px;
  border-radius: 50px;
}

.footer-bottom{
  justify-content: center;
  text-align: center;
  color: white;
  border-top: solid 1px #627382; 
  padding: 20px 0 10px;
 
}
