.continer{
    max-width: 1600px;
    margin: auto;
}
.nav-parent{
      display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-item{
  display: flex;
  gap: 20px;
  list-style: none;
  
}
.nav-item a{
    text-decoration: none;
    color: black;
}
.button-primary{
    background-color: #30B868;
    color: white;
    padding: 8px;
    border: none;
}




.top-section{
   background-image: url(./assets/hero-bg.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
    display: flex;
     padding: 80px;
   text-align: center;
}


 .hero-container{
 padding:0px 150px;
  text-align: center;
     }

  .hero-container h1{
      font-size: 72px;
}
.hero-container p{
    padding: 0px;
}
.badge-1{
    color: #30B868;
    background-color: white;
    padding: 5px;
    border-radius: 30px;
}

 .color-green{
   
  color: #30B868;

 }
.color-white{
   color:white;

}




/* card-part */

.card-section{


}
.card-header{
text-align: center;

}
.card-header h1{
    font-size: 48px;
        
}
.card-parent{
    display: flex;
}
.card-parent img{
    background-color: red;
    border-radius: 50px;
    padding: 10px
}




.two-part-parent{
    display: flex;
}


.Chick-parent div{
  display: flex;
}


 /* last section */

.challage-section{
    text-align: center;
}


.footer-parent{
    display: flex;
    justify-content: space-between;
}